html{background:#111;}
article,span{color:#EEE;font-size:17px;line-height:21px;font-family:monospace;}
input{
  background: transparent;
  color:#EEE;
  outline: none;
  border: none;
  display: inline-block;
  float:left;
  font-size:17px;
  line-height:18px;
  font-family:monospace;
}
input{margin-left:9px;width:90%;}
#console article:before{content:"> ";}
span.before{float:left;}
*{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
